<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.backform.mapper.CaptchaMapper">
  <insert id="insertCaptcha">insert into captcha_codes(captcha_key,captcha_code,purpose,expires_at) values(#{captchaKey},#{captchaCode},#{purpose},date_add(now(), interval #{expireMinutes} minute))</insert>
  <select id="findValidCaptcha" resultType="map">select * from captcha_codes where captcha_key=#{captchaKey} and purpose=#{purpose} and used=0 and expires_at&gt;now() limit 1</select>
  <update id="markUsed">update captcha_codes set used=1 where captcha_key=#{captchaKey}</update>
</mapper>
